ParagraphText {
    -fx-tab-size: 4;
    -fx-font-size: 16;
    -fx-font-family: "Courier New";
    -fx-line-spacing: 0;
}

.paragraph-box:has-caret {
    -fx-background-color: #fcfaed;
}

.words, .commands, .types, .aggregators, .comparators, .arithmetic, .logic, .special{
    -fx-font-weight: bold;
}

.normal{
    -fx-fill: #2b2b2b;
}

.words {
    -fx-fill: #881295;
}
.commands {
    -fx-fill: #194bd4;
}
.types {
    -fx-fill: #c23c3c;
}
.aggregators {
    -fx-fill: #ff8d00;
}
.comparators {
    -fx-fill: #0bac0b;
}
.arithmetic {
    -fx-fill: #cb006b;
}
.logic {
    -fx-fill: #deb100;
}
.special {
    -fx-fill: #0043b8;
}
.string {
    -fx-fill: #187d18;
}
.comments {
    -fx-fill: #8d8d8d;
}